//
   Created by TimLi on 15/9/7.

doctype html
html
   head
      link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" type="text/css")
      link(rel="stylesheet" href="/css/style.css" type="text/css")
      title #{title}
   body
      div.container
         div.row
            div.self-body.self-border






      script(src='/bower_components/jquery/dist/jquery.min.js')
      script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
